header {
	
	background: url('./../img/Wallpaper.jpg') no-repeat center left ;
	text-align:center;
	color: #FFFFFF;

}

h2 { 
	font-family: "Courier New", Courier, monospace;
	font-size:40px;
	font-style: italic;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 1px 0px #FFFFFF, 1px 0 0px #FFFFFF, 1px 2px 1px #FFFFFF, 2px 1px 1px #FFFFFF, 2px 3px 2px #FFFFFF, 3px 2px 2px #FFFFFF, 3px 4px 2px #FFFFFF, 4px 3px 3px #FFFFFF, 4px 5px 3px #FFFFFF, 5px 4px 2px #FFFFFF, 5px 6px 2px #FFFFFF;
	color: #000000;
}

 fieldset{
 	border-style: outset;
 	border-color: #78839D;
 	border-width: 10px;
 }

 .fielset:hover{
 	cursor: pointer;
	background-color: #56C5F6;
}


 main { 
    background-color: #DFE1E9;
 }

